.dash-heading {
  text-align: center;
}

.task-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  margin: 70px 700px;
  border-radius: 7px;
  cursor: pointer;
  column-gap: 5px;
}

.created-task > p {
  font-size: 30px;
}

.task-container {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.task-details {
  width: 300px;
  height: auto;
  padding: 10px 15px;
  background-color: rgb(232, 232, 232);
  color: black;
  border-radius: 10px;
  cursor: pointer;
}

.task-heading{
  font-size: 18px;
  font-weight: bold;
}

.task-desc{
  font-size: 14px;
  line-height: 25px;
  word-spacing: 1px;
}